In [1]:
# import SQL Alchemy
from sqlalchemy import create_engine

# Import and establesh BAse for which classes will be constructed
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base

# Import modules to declare columns and column data type
from sqlalchemy import Column, Integer, String

# Import Session to push objects made and query the server.
from sqlalchemy.orm import Session

import pandas as pd

C:\Users\alexp\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)

In [2]:
# Create Accident Class
class Accident(Base):
    __tablename__ = "accidents"
    id = Column(Integer,primary_key=True)
    case_num = Column(Integer)
    veh_num = Column(Integer)
    region = Column(String)
    region_num = Column(Integer)
    month = Column(String)
    hour = Column(String)
    make = Column(String)
    passenger_inj = Column(String)
    num_injured = Column(Integer)
    alcohol_involved = Column(String)
    situation = Column(String,)
    road_condition = Column(String)
    veh_damage = Column(String)

In [3]:
# Create and establish Database Connection
engine = create_engine("sqlite:///accidents.sqlite")
conn = engine.connect()

# Create Accident table within the database
Base.metadata.create_all(conn)

In [4]:
# Create Session to push the objects made and query the server.
session = Session(bind=engine)

# Readig csv file

In [5]:
import pandas as pd
path = "Resources/veh_19.csv"
data = pd.read_csv(path)
data_df = pd.DataFrame(data)
data_df.head()

,CASENUM,VEH_NO,REGIONNAME,REGION,MONTHNAME,HOURNAME,MAKENAME,MXVSEV_IMNAME,NUMINJ_IM,V_ALCH_IMNAME,PCRASH1_IMNAME,VSURCONDNAME,DEFORMEDNAME
0,2.019012e+11,1,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",3,January,8:00am-8:59am,Ford,No Apparent Injury (O),0,No Alcohol Involved,Accelerating in Road,Wet,Disabling Damage
1,2.019012e+11,1,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",3,January,2:00am-2:59am,Dodge,Possible Injury (C),1,No Alcohol Involved,Going Straight,Dry,Functional Damage
2,2.019012e+11,2,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",3,January,2:00am-2:59am,Honda,Possible Injury (C),1,No Alcohol Involved,Going Straight,Dry,Minor Damage
3,2.019012e+11,1,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",3,January,5:00am-5:59am,Nissan/Datsun,Suspected Minor Injury (B),1,Alcohol Involved,Changing Lanes,Dry,Disabling Damage
4,2.019012e+11,2,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",3,January,5:00am-5:59am,Chevrolet,Possible Injury (C),1,No Alcohol Involved,Turning Left,Non-Trafficway or Driveway Access,Disabling Damage

In [6]:
regions = data_df['REGIONNAME'].unique()
regions

array(['South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA, FL, AL, MS, LA, AR, OK, TX)',
       'West (MT, ID, WA, OR, CA, NV, NM, AZ, UT, CO, WY, AK, HI)',
       'Midwest (OH, IN, IL, MI, WI, MN, ND, SD, NE, IA, MO, KS)',
       'Northeast (PA, NJ, NY, NH, VT, RI, MA, ME, CT)'], dtype=object)

In [7]:
# Clean RegionName of the list of states for each region
region_name = data_df['REGIONNAME']
for i in range(len(data_df['REGIONNAME'])):
    row = data_df['REGIONNAME'][i]
    if row == regions[0]:
        region_name[i] = "South"
    elif row == regions[1]:
        region_name[i] = "West"
    elif row == regions[2]:
        region_name[i] = "Mid West"
    elif row == regions[3]:
        region_name[i] = "North East"
region_name.unique()

C:\Users\alexp\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\alexp\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\alexp\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\alexp\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

array(['South', 'West', 'Mid West', 'North East'], dtype=object)

In [8]:
# Assing the region_name to the correct column in the DataFrame
data_df['REGIONNAME'] = region_name
data_df['REGIONNAME'].unique()

array(['South', 'West', 'Mid West', 'North East'], dtype=object)

In [9]:
data_df.dtypes

CASENUM           float64
VEH_NO              int64
REGIONNAME         object
REGION              int64
MONTHNAME          object
HOURNAME           object
MAKENAME           object
MXVSEV_IMNAME      object
NUMINJ_IM           int64
V_ALCH_IMNAME      object
PCRASH1_IMNAME     object
VSURCONDNAME       object
DEFORMEDNAME       object
dtype: object

In [10]:
data_df = data_df.astype({"CASENUM":"int64"})

In [11]:
data_df.dtypes

CASENUM            int64
VEH_NO             int64
REGIONNAME        object
REGION             int64
MONTHNAME         object
HOURNAME          object
MAKENAME          object
MXVSEV_IMNAME     object
NUMINJ_IM          int64
V_ALCH_IMNAME     object
PCRASH1_IMNAME    object
VSURCONDNAME      object
DEFORMEDNAME      object
dtype: object

In [13]:
for column in data.columns:
    print({column: data[column].unique()})

{'CASENUM': array([2.01901174e+11, 2.01901177e+11, 2.01901177e+11, ...,
       2.01902286e+11, 2.01902286e+11, 2.01902286e+11])}
{'VEH_NO': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15],
      dtype=int64)}
{'REGIONNAME': array(['South', 'West', 'Mid West', 'North East'], dtype=object)}
{'REGION': array([3, 4, 2, 1], dtype=int64)}
{'MONTHNAME': array(['January', 'February', 'March', 'April', 'May', 'June', 'July',
       'August', 'September', 'October', 'November', 'December'],
      dtype=object)}
{'HOURNAME': array(['8:00am-8:59am', '2:00am-2:59am', '5:00am-5:59am', '4:00am-4:59am',
       '9:00am-9:59am', '7:00pm-7:59pm', '12:00pm-12:59pm',
       '6:00am-6:59am', '10:00am-10:59am', '11:00am-11:59am',
       '1:00am-1:59am', '1:00pm-1:59pm', '6:00pm-6:59pm', '3:00pm-3:59pm',
       '10:00pm-10:59pm', '2:00pm-2:59pm', '5:00pm-5:59pm',
       'Unknown Hours', '3:00am-3:59am', '4:00pm-4:59pm', '7:00am-7:59am',
       '8:00pm-8:59pm', '11:00pm-11:59pm', '9:00pm-9:59pm',
       '0:00am-0:59am'], dtype=object)}
{'MAKENAME': array(['Ford', 'Dodge', 'Honda', 'Nissan/Datsun', 'Chevrolet', 'Mazda',
       'Toyota', 'Volvo', 'Peterbilt',
       'Jeep / Kaiser-Jeep / Willys- Jeep', 'Infiniti', 'Acura',
       'Volkswagen', 'BMW', 'Lexus', 'Chrysler', 'Harley-Davidson',
       'Cadillac', 'Unknown Make', 'Pontiac', 'Freightliner', 'Lincoln',
       'Mercury', 'Buick / Opel', 'Jaguar', 'Suzuki', 'Subaru', 'GMC',
       'Mack', 'AM General', 'International Harvester/Navistar', 'KIA',
       'Land Rover', 'Hyundai', 'Mitsubishi', 'Other Make', 'Oldsmobile',
       'Mercedes-Benz', 'Kawasaki', 'Fiat', 'Not Reported', 'Audi',
       'Other Import', 'Saturn', 'Kenworth', 'Isuzu', 'Bluebird',
       'Yamaha', 'Gillig', 'Scion', 'Smart', 'Thomas Built', 'Ducati',
       'Other Domestic Manufacturers', 'MCI', 'Porsche', 'Triumph',
       'Saab', 'Plymouth', 'Victory', 'Alfa Romeo',
       'White/Autocar White/GMC', 'Grumman', 'American Motors',
       'Moto-Guzzi', 'Eagle', 'Daewoo'], dtype=object)}
{'MXVSEV_IMNAME': array(['No Apparent Injury (O)', 'Possible Injury (C)',
       'Suspected Minor Injury (B)', 'Suspected Serious Injury (A)',
       'Fatal Injury (K)', 'Died Prior to Crash*', 'No person involved',
       'Injured, Severity Unknown'], dtype=object)}
{'NUMINJ_IM': array([ 0,  1,  6,  2,  3,  7,  4,  5, 11,  9,  8, 10], dtype=int64)}
{'V_ALCH_IMNAME': array(['No Alcohol Involved', 'Alcohol Involved'], dtype=object)}
{'PCRASH1_IMNAME': array(['Accelerating in Road', 'Going Straight', 'Changing Lanes',
       'Turning Left', 'Backing Up (other than for Parking Position)',
       'Negotiating a Curve', 'Turning Right', 'Stopped in Roadway',
       'Decelerating in Road',
       'No Driver Present / Unknown if Driver Present',
       'Successful Avoidance Maneuver to a Previous Critical Event',
       'Making a U-turn', 'Starting in Road', 'Merging',
       'Entering a Parking Position',
       'Disabled or "Parked" in Travel lane',
       'Passing or Overtaking Another Vehicle', 'Other(specify:)',
       'Leaving a Parking Position'], dtype=object)}
{'VSURCONDNAME': array(['Wet', 'Dry', 'Non-Trafficway or Driveway Access', 'Ice/Frost',
       'Not Reported', 'Reported as Unknown', 'Snow', 'Slush',
       'Mud, Dirt or Gravel', 'Water (Standing or Moving)', 'Other',
       'Sand', 'Oil'], dtype=object)}
{'DEFORMEDNAME': array(['Disabling Damage', 'Functional Damage', 'Minor Damage',
       'Not Reported', 'Reported as Unknown', 'No Damage'], dtype=object)}

# From DataFrame to Database

In [12]:
for i in range(len(data_df.index)):
    
    # Create instance of the accident
    accident = Accident(
    id = i,
    case_num = int(data_df['CASENUM'][i]),
    veh_num = int(data_df['VEH_NO'][i]),
    region = data_df['REGIONNAME'][i],
    region_num = int(data_df['REGION'][i]),
    month = data_df['MONTHNAME'][i],
    hour = data_df['HOURNAME'][i],
    make = data_df['MAKENAME'][i],
    passenger_inj = data_df['MXVSEV_IMNAME'][i],
    num_injured = int(data_df['NUMINJ_IM'][i]),
    alcohol_involved = data_df['V_ALCH_IMNAME'][i],
    situation = data_df['PCRASH1_IMNAME'][i],
    road_condition = data_df['VSURCONDNAME'][i],
    veh_damage = data_df['DEFORMEDNAME'][i])
    
    # Add accident 'i' to the Database
    session.add(accident)
    # commit object to the Database
    session.commit()

In [13]:
data_df["CASENUM"][2]

201901176655

In [14]:
for row in session.query(Accident).filter(Accident.id <= 3).all():
    print(row)

<__main__.Accident object at 0x000001D13379FAC8>
<__main__.Accident object at 0x000001D13379FBC8>
<__main__.Accident object at 0x000001D13379FC48>
<__main__.Accident object at 0x000001D13379FCC8>

In [15]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base

In [1]:
engine.execute("SELECT * FROM accidents LIMIT 10").fetchall()

NameError: name 'engine' is not defined