In [1]:
import sqlalchemy
import numpy as np
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, MetaData,inspect

In [2]:
#Database total accidents Setup
engine = create_engine("sqlite:///accidents.sqlite")

# metadata = MetaData(bind = engine)
Base = automap_base()

Base.prepare(autoload_with=engine)

accident = Base.classes.accidents
# inspect(engine).get_table_names()

In [3]:
session = Session(engine)

In [18]:
engine.execute("SELECT DISTINCT(hour) FROM accidents").fetchall()

AttributeError: 'Engine' object has no attribute 'execute'

In [14]:
engine.execute("SELECT hour, COUNT(hour) FROM accidents GROUP BY hour ORDER BY COUNT(hour) DESC LIMIT 3").fetchall()

[('5:00pm-5:59pm', 8894), ('4:00pm-4:59pm', 8110), ('3:00pm-3:59pm', 7952)]

In [15]:
engine.execute("SELECT make, COUNT(make) FROM accidents GROUP BY make ORDER BY COUNT(make) DESC").fetchall()

[('Ford', 12192),
 ('Toyota', 11399),
 ('Chevrolet', 11312),
 ('Honda', 8869),
 ('Nissan/Datsun', 7740),
 ('Dodge', 5061),
 ('Hyundai', 3827),
 ('Jeep / Kaiser-Jeep / Willys- Jeep', 3235),
 ('KIA', 2969),
 ('Unknown Make', 2692),
 ('GMC', 2434),
 ('Chrysler', 1592),
 ('Mazda', 1449),
 ('Volkswagen', 1445),
 ('Lexus', 1423),
 ('Subaru', 1383),
 ('BMW', 1347),
 ('Mercedes-Benz', 1305),
 ('Buick / Opel', 1229),
 ('Freightliner', 1048),
 ('Acura', 947),
 ('Harley-Davidson', 893),
 ('Infiniti', 857),
 ('Cadillac', 772),
 ('Other Make', 768),
 ('Mitsubishi', 742),
 ('Pontiac', 736),
 ('Volvo', 634),
 ('International Harvester/Navistar', 581),
 ('Lincoln', 550),
 ('Audi', 505),
 ('Mercury', 439),
 ('Peterbilt', 431),
 ('Suzuki', 420),
 ('Saturn', 398),
 ('Yamaha', 352),
 ('Kenworth', 337),
 ('Not Reported', 326),
 ('Kawasaki', 283),
 ('Mack', 200),
 ('Other Import', 178),
 ('Land Rover', 176),
 ('Isuzu', 170),
 ('Scion', 128),
 ('Gillig', 104),
 ('Porsche', 100),
 ('Oldsmobile', 92),
 ('Other Domestic Manufacturers', 91),
 ('Jaguar', 87),
 ('Bluebird', 86),
 ('Fiat', 57),
 ('Saab', 51),
 ('AM General', 50),
 ('Triumph', 30),
 ('Ducati', 30),
 ('Thomas Built', 29),
 ('Plymouth', 29),
 ('MCI', 25),
 ('Victory', 21),
 ('White/Autocar White/GMC', 18),
 ('Smart', 17),
 ('Alfa Romeo', 15),
 ('Grumman', 7),
 ('Moto-Guzzi', 1),
 ('Eagle', 1),
 ('Daewoo', 1),
 ('American Motors', 1)]

In [32]:
engine.execute("SELECT region, COUNT(veh_damage) FROM accidents WHERE veh_damage = 'Disabling Damage' GROUP BY region ORDER BY").fetchall()

[('Mid West', 5323), ('North East', 1880), ('South', 14742), ('West', 3802)]

In [30]:
engine.execute("SELECT region, COUNT(veh_damage) FROM accidents WHERE region = 'North East' AND veh_damage = 'Disabling Damage'").fetchall()

[('North East', 1880)]

In [ ]:
engine.execute("SELECT region, COUNT(veh_damage) FROM accidents WHERE region = 'North East' AND veh_damage = 'Disabling Damage'").fetchall()

In [6]:
session = Session(engine)
session.query(accident.region).first()

('South',)

In [ ]:
results = session.query(accident.region).all()

    

# Convert list of tuples into normal list
all_accidents = list(np.ravel(results))

return jsonify(all_accidents)

In [7]:
session.query(accident.region, func.count()).filter(accident.hour == "Unknown Hours").group_by(accident.region).all()

[('Mid West', 50), ('North East', 79), ('South', 220), ('West', 78)]

In [ ]:
region2 = ["South","West"]
session.query(accident.region).filter(accident.region.in_(region2)).all()

In [6]:
session.query(accident.region, func.count()).filter(accident.make == "Unknown Make").group_by(accident.region).all()

[('Mid West', 428), ('North East', 469), ('South', 1375), ('West', 420)]

In [ ]:
session.query()

In [ ]:
time_dict = {
    "Morning": ["",""],
    "Afternoon": ["",""],
    "Night": ["":""]
}

session.query(accident.hour).filter(accident.hour.in_(time_dict[time])).all()